:root {
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-black: #000000;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", san-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-grey-light-1);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

main {
  flex: 1;
  margin: 3rem;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  display: flex;
  min-height: 50rem;
}

.content {
  display: flex;
  height: auto;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.about {
  display: none;
}
.about__top {
  display: flex;
  justify-content: flex-start;
}
.about__top--left {
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.about__top--right {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.education {
  display: none;
}

.work {
  display: none;
}

.skills {
  display: none;
}

.midhead {
  font-size: 5rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  font-size: 5rem;
}
.side-nav__item {
  cursor: pointer;
  padding: 2rem;
  position: relative;
  z-index: 10;
}
.side-nav__item--link {
  cursor: pointer;
  color: var(--color-grey-light-1);
  z-index: 10;
  text-decoration: none;
  margin: 0 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.side-nav__item--link--icon {
  fill: currentColor;
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}
.side-nav__item:before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-black);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.2s 0.4s;
}
.side-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item:focus:not(:hover):before {
  transform: scaleY(1);
  background-image: linear-gradient(to right, var(--color-grey-dark-3) 0 2rem, var(--color-black) 0);
  width: 105%;
}

.infoblock {
  margin-bottom: 3rem;
}
.infoblock__top {
  display: flex;
  align-items: center;
}
.infoblock__top--icon {
  margin-right: 1rem;
  display: inline;
  height: 3rem;
  width: 3rem;
  top: 1rem;
}
.infoblock__top--var {
  display: inline-block;
  font-size: 3rem;
  font-weight: 900;
}
.infoblock__val {
  font-size: 2rem;
}

.edublock {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.edublock__incomplete {
  color: var(--color-grey-dark-2);
}
.edublock__school {
  color: var(--color-grey-dark-1);
  margin: 1rem 0;
}
.edublock__score--var {
  font-weight: 1000;
}
.edublock__med {
  color: var(--color-grey-dark-1);
}

.expblock {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.expblock__header {
  color: var(--color-black);
}
.expblock__period {
  color: var(--color-grey-dark-2);
}
.expblock__duties {
  margin-left: 2rem;
  color: var(--color-grey-dark-1);
}
.expblock__duties > * {
  margin-bottom: 1rem;
}

.skills {
  font-size: 2rem;
  margin-left: 2rem;
}
.skills > * {
  margin-bottom: 2rem;
}
.skills__list {
  color: var(--color-grey-dark-1);
  margin: 0 0 2rem 2rem;
}
.skills__list > * {
  margin-bottom: 1rem;
}
.skills__project > * {
  margin-bottom: 2rem;
}
.skills__project--list {
  margin-left: 2rem;
  color: var(--color-grey-dark-1);
}
.skills__project--list > * {
  margin-bottom: 1rem;
}
.skills__projectblock--var {
  font-weight: 800;
}
.skills__projectblock--val {
  color: var(--color-grey-dark-1);
  margin-left: 0.5rem;
}

.item-clicked {
  width: 105%;
  background-image: linear-gradient(to right, var(--color-grey-dark-3) 0 2rem, var(--color-black) 0);
  height: 12rem;
  display: flex;
  align-items: center;
}

.link-clicked {
  margin-left: 4rem;
}

:target {
  display: block;
}

/*# sourceMappingURL=style.css.map */
