#routedContent.ng-enter {
    width: 0;
    opacity:0;
 
    -webkit-transition: all 1s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 1s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 1s cubic-bezier(1,.01,0,.99);
    -o-transition: all 1s cubic-bezier(1,.01,0,.99);
    transition: all 1s cubic-bezier(1,.01,0,.99);
}
 
#routedContent.ng-enter-active {
    width: 100vh;
    opacity: 1;
}
 
#routedContent.ng-leave {
    width: 100vh;
    opacity: 1;
 
    -webkit-transition: all 1s cubic-bezier(1,.01,0,.99);
    -moz-transition: all 1s cubic-bezier(1,.01,0,.99);
    -ms-transition: all 1s cubic-bezier(1,.01,0,.99);
    -o-transition: all 1s cubic-bezier(1,.01,0,.99);
    transition: all 1s cubic-bezier(1,.01,0,.99);
}
 
#routedContent.ng-leave-active {
    width: -100vh;
    opacity: 0;
}